

      <footer class="footer" {% if not request.user.is_authenticate %} style="padding: 0px" {% endif %}>
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                 href="https://appseed.us/admin-dashboards/django-dashboard-black" class="nav-link">
                20-aug-batch
              </a>
            </li>
          </ul>
          <div class="copyright">
            &copy; <a target="_blank" rel="sponsored noopener noreferrer" 
                      href="https://bit.ly/3fKQZaL">Elite Software</a>
            - coded by <a target="_blank" rel="noopener noreferrer" href="#">20 Aug Batch</a>
          </div>
        </div>
      </footer>
      
